@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

header {
    width: 100%;
    height: 143px;
    background-color: black;
}
.header_name {
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 48px;
    position: absolute; 
    top: 43px;
    left: 468px;
    color: #FFFFFF;
}
.logo {
    width: 121px;
    height: 119px;
    padding-left: 345px;
    padding-top: 8px;
}